<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Auth.JetPass.Enabled" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="Auth.JetPass.ClientId" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="Auth.JetPass.ClientSecret"  xdt:Locator="Match(key)" xdt:Transform="Remove"  />
    <add key="Auth.JetPass.RootUri"  xdt:Locator="Match(key)" xdt:Transform="Remove" />
  </appSettings>    
</configuration>