<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Gallery.Environment" value="Staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Gallery.SiteRoot" value="http://resharper-plugins-staging.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Gallery.ReleaseRepository" value="https://github.com/JetBrains/ReSharperGallery" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
  <casClientConfig casServerLoginUrl="https://account.jetbrains.com/sso/login" casServerUrlPrefix="https://account.jetbrains.com/sso/" serverName="resharper-plugins-staging.azurewebsites.net" redirectAfterValidation="true" gateway="false" renew="false" singleSignOut="true" ticketTimeTolerance="50000" ticketValidatorName="Saml11" proxyTicketManager="CacheProxyTicketManager" serviceTicketManager="CacheServiceTicketManager" gatewayStatusCookieName="CasGatewayStatus" xdt:Transform="Replace" />
</configuration>