@{
    ViewBag.Title = "Contact Us";
}
<article class="contact">
    <h2>
        Contact Us
    </h2>
    <p>
        Need help with ReSharper Gallery? Let us know!
    </p>

    <h3>Having problems using a specific package?</h3>
    <p>
        If you're having trouble installing a specific package, try contacting the owner of that package first. 
        You can reach them using the "Contact Owners" link on the package details page.
    </p>

    <h3>Is a package violating a license or otherwise abusive?</h3>
    <p>
        If you feel that a package is violating the license of software you own or is violating our terms of service,
        use the "Report Abuse" link on the package details page to report it directly to us.
    </p>

    <h3>Found a bug in Extension Manager or the ReSharper Gallery?</h3>
    <p>
        If you're having trouble with the <strong>ReSharper Gallery</strong>, 
        file a bug on the ReSharper Gallery <a href="http://youtrack.jetbrains.com/newIssue?project=RSRP&clearDraft=true&c=Assignee%20derigel&c=Subsystem%20Extensions%20Manager">Issue Tracker</a>.
    </p>
    <p>
        If you're having trouble with the <strong>Extension Manager</strong> (in ReSharper, dotPeek, dotTrace, etc.),
        file a bug on the Extension Manager <a href="http://youtrack.jetbrains.com/newIssue?project=RSRP&clearDraft=true&c=Assignee%20derigel&c=Subsystem%20Extensions%20Manager">Issue Tracker</a>
    </p>

    <h3>Talk to the ReSharper development team and wider community</h3>
    <p>
        For support and general discussions we have the <a href="https://groups.google.com/forum/#!forum/resharper-plugins">discussion boards</a>.
    </p>
</article>