@{
    ViewBag.Title = "Home";
    ViewBag.Tab = "Home";
}
<section class="featured">
    <div>
        <h1>ReSharper Gallery</h1>
        <p >Host your ReSharper's plugins here!</p>
        <p class="sub"><em>So <a href="http://www.jetbrains.com/resharper/download/index.html">install ReSharper</a> and get a jump on your next plugin!</em></p>
        <a class="install" href="http://www.jetbrains.com/resharper/download/index.html">Install ReSharper</a>
    </div>
    <img src="@Url.Content("~/content/images/hero.png")" alt="NuGet GUI Window" />
</section> 

<section class="aggstats">
    <span class="stat">
        <span id="UniquePackages" class="num"></span> unique packages
    </span>
    <span class="stat">
        <span id="Downloads" class="num"></span>total downloads
    </span>
    <span class="stat">
        <span id="TotalPackages" class="num"></span>total packages
    </span>
</section>

<section class="aggstatserr">
    <span class="err">an error occurred while retrieving statistics</span>
</section>

        make your life easier! All these details and <a href="http://docs.nuget.org/docs/release-notes/nuget-2.2.1">more here...</a>
@section BottomScripts
{
    @* Right now this is the only page that uses this script. If we increase our usage of it, we should put it in our bundles *@
    @Scripts.Render("~/Scripts/stats.js")
    <script>
        $(getStats);
    </script>
}
