<ul class="recommended">
    <li>
        <a href="@Href("~/policies/Contact")">Contact Us</a>
        <p>Got questions about Extension Manager or the ReSharper Gallery?</p>
    </li>
    <li>
        <a href="http://www.jetbrains.com/?gallery">JetBrains</a>
        <p>World's Leading Vendor of Professional Development Tools</p>
    </li>
    <li>
        <a href="http://www.jetbrains.com/resharper/?gallery">ReSharper</a>
        <p>Productivity tool for .NET developers that makes Microsoft Visual Studio a much better IDE</p>
    </li>
    <li>
        <a href="http://www.jetbrains.com/resharper/features/open_api.html?gallery">ReSharper Open API</a>
        <p>ReSharper's functionality can be significantly extended with its Open API.</p>
    </li>
    <li>
        <a href="http://docs.nuget.org">NuGet</a>
        <p>NuGet is a Visual Studio 2010 extension that makes it easy to add, remove, and update libraries and...</p>
    </li>
</ul>
<div class="license">
    <div>
      <a href="http://www.dotnetfoundation.org/"><img src="~/Content/Logos/dnf.png" alt=".NET Foundation" /></a>
        <p>&copy; @DateTime.UtcNow.Year .NET Foundation.</p>
    </div>
    <div>
        <a href="http://www.jetbrains.com/?gallery"><img src="~/Content/Images/JBlogo.png" alt="JetBrains" /></a>
        <p>&copy; @DateTime.UtcNow.Year JetBrains.</p>
    </div>
    <p>
        Uses <a href="http://fontawesome.io">Font Awesome</a> by Dave Gandy
    </p>
    @ViewHelpers.ReleaseTag()
</div>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5P98"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5P98');</script>
<!-- End Google Tag Manager -->