<div class="user-display">
@{
    string returnUrl = ViewData.ContainsKey(Constants.ReturnUrlViewDataKey) ? (string)ViewData[Constants.ReturnUrlViewDataKey] : Request.RawUrl;
    if (!User.Identity.IsAuthenticated)
    {
        <span class="welcome">
            <a href="@Url.LogOn(returnUrl)">Sign in</a>
        </span>
    }
    else
    {
        <span class="welcome"><a href="@Url.Action(MVC.Users.Account())">@(User.Identity.Name)</a></span>
        <text>/</text>
        <span class="user-actions">
            <a href="@Url.LogOff(returnUrl)">Sign out</a>
        </span>
    }
}
</div>